<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vat.icare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- For Android 12 and above devices, the following permission is also required. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICare"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".doctor.EditProfileDoctor"
            android:exported="false" />
        <activity
            android:name=".appointmentBooking.AppointmentBookingActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorChattingActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorMainActivity"
            android:exported="false" />
        <activity android:name=".calls.InComingCallActivity" />
        <activity
            android:name=".doctorRegistration.DoctorRegistration"
            android:exported="false" />
        <activity
            android:name=".calls.AudioCallActivity"
            android:exported="false" />
        <activity
            android:name=".calls.VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".editProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".chats.PersonalChats"
            android:exported="false" />
        <activity
            android:name=".medicineAlerts.AddMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".medicineAlerts.MedicineAlert"
            android:exported="false" />
        <activity
            android:name=".virtualSigns.StartVitalSigns"
            android:exported="false" />
        <activity
            android:name=".virtualSigns.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".virtualSigns.VitalSignsResults"
            android:exported="false" />
        <activity android:name=".virtualSigns.VitalSignsProcess" />
        <activity
            android:name=".onBoarding.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />

        <receiver android:name=".medicineAlerts.AlarmBrodcast" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".chats.fcm.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>