<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vat.icare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICare"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".calls.VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".editProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".chats.PersonalChats"
            android:exported="false" />
        <activity
            android:name=".medicineAlerts.AddMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".medicineAlerts.MedicineAlert"
            android:exported="false" />
        <activity
            android:name=".virtualSigns.StartVitalSigns"
            android:exported="false" />
        <activity
            android:name=".virtualSigns.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".virtualSigns.VitalSignsResults"
            android:exported="false" />
        <activity android:name=".virtualSigns.VitalSignsProcess" />
        <activity
            android:name=".onBoarding.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />

        <receiver android:name=".medicineAlerts.AlarmBrodcast" />
    </application>

</manifest>